<% @reply_user = User.find_by_id(reply.user_id) %>
<div class="reply">
<div class="reply_name"><%= @reply_user.name.blank? ? "" : @reply_user.name %></div>
<div class="reply_content round">
<%= auto_link( reply.content.gsub(/\n/, '<br/>'), :html => { :target => '_blank' } ) %>
</div>
<div class="comment_timestamp">
<span class="de-em text-75">Added <%= time_ago_in_words(reply.created_at) %> ago.</span>
<% if current_user.admin? || reply.created_by?(current_user) %>
  <span class="de-em">
  <%= link_to "delete", reply, :class => "text-75", :method => :delete, :confirm => "You sure?", :title => "Delete reply?" %>
  </span>
<% end %>
</div>
</div>