<div class="stk_section_header">Comments</div>
<div class="comment">
<%= form_for(@comment) do |f| %>
	<%= render 'comments/comments_form', :f => f %>
<% end %>
</div>
<!-- <div class="comment_callout"><%= image_tag "comment_callout.png" %></div> -->
<% if @stack.comments? %>
	<%= render @comments %>
<% end %>
