<div class="stk_section_header">Community Discussion</div>
<div class="fb-comments" data-href="http://samples.ogp.me/370585046290805" data-num-posts="10" data-width="470"></div>
<div class="hidden">
<div class="comment">
<%= form_for @comment,
	:html => { :name => "new_comment",
	:onsubmit => "return validateNameInComments(new_comment)"} do |f| %>
	<%= render 'comments/comments_form', :f => f %>
<% end %>
</div>
<!-- <div class="comment_callout"><%= image_tag "comment_callout.png" %></div> -->
<% if @stack.comments? %>
	<%= render @comments %>
<% end %>
</div>