<div class="stk_section_header">Discussion</div>
<div class="comment">
<%= form_for(@comment) do |f| %>
	<%= render 'comments/comments_form', :f => f %>
<% end %>
</div>
<% if @stack.comments? %>
	<%= render @comments %>
<% end %>
<%= image_tag "comment_callout.png" %>