<div class="padding_30px">

<table class="users text-75">
  <tr>
	<td>User ID</td><td>Community</td><td>Name</td><td>Email</td><td>Zipcode</td><td></td><td>Created At</td><td>Responses</td><td>Admin</td><td></td>
  </tr>
	<%= render current_user %>
</table>

</div>
<br/>