<div class="howitworks medshadow round grey">

<div class="breadcrumbs">
<%= link_to "Home", root_path %> > How It Works
</div>

<table>
  <tr>
	<td class="howitworks_left">
		<iframe src="http://player.vimeo.com/video/38233866" width="500" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</td>
	<td>
	  <div class="stk_section"><%= render 'shared/view_stacks', :divid => "view_stacks_btf" %></div>
	</td>
  </tr>
</table>
</div>
<br/>