<div class="padding_20px">
<h1>All users</h1>

<table class="users text-75">
  <tr>
	<td>User ID</td><td>Community</td><td>Name</td><td>Email</td><td>Zipcode</td><td></td><td>Created At</td><td>Responses</td><td>Admin</td><td></td>
  </tr>
  <%= render @users %>
</table>
</div>