<div class="padding_20px">
<h1>User <%= @user.id %></h1>
<% if @responses.empty? %>
  <% if Stack.count == 0 %>
	<br/><h3>Wow! No Stacks!<br/>Do you want to <%= link_to "create the first Stack?", new_stack_path %></h3>
  <% else %>
	No Answers.
  <% end %>
<% else %>
<table>
  <tr>
	<td class="response_header">Rid</td>
	<td class="response_header">Uid</td>
	<td class="response_header">Topic</td>
	<td class="response_header">Value</td>
	<td class="response_header">Qualifier</td>
	<td class="response_header">Created At</td>
	<td class="response_header">Modified At</td>
	<td class="response_header"></td>
  <%= render @responses %>
</table>
<% end %>
</div>