<div class="about_block">
<span class="em">What's heystack about?</span>
<p>
Finding an easy and comfortable way for people in a community to see how they’re doing compared to one another on topics they care about (parenting, money, health, education...you name it) and share helpful, local info about doing these things better.
</p>
<span class="em">What do I get out of it?</span>
<p>
Quick perspective on how you stack up on a topic that matters to you, plus helpful info from your local community for tackling that topic better when you need to.  
</p>
<span class="em">How does it work?</span>
<p>
<strong>Give</strong> your info ("I pay my babysitter $10/hr"), <strong>get</strong> an immediate comparison against others like you ("you pay 20% more than all neighbors"), <strong>find/share</strong> local tips/resources ("here's a rate approach another local parent of 3 kids under 10 used to good result"). The more who participate, the more helpful the info for all.
</p>
<span class="em">What kind of topics and questions get discussed?<span>
<p>
Purposeful ones, where some perspective and resources will help you do something better, make a more informed decision.  "Who's the best Beatle?"...interesting no doubt but handled better elsewhere.
</p>
<span class="em">Who's behind it?</span>
<p>
A couple of Alexandria parents who wanted a way to answer the "I wonder how we stack up and what others like us are doing on this?" questions that come up so often but for which the sources of credible, relevant, and local info are so few.</p>
<table>
<tr><td>
<div class="about_img"><%= image_tag "about_rm.jpg", :height => "133" %></div>
<div class="about_name">Robert Morton</div>
</td>
<td>
<div class="about_img"><%= image_tag "about_sb.jpg" %></div>
<div class="about_name">Steve Brown</div>
</td>
</tr>
</table>
</div>
