<div class="email_preview">
<br/>
<%= form_tag "/send_comment" do -%>
<table>
  <tr>
	<td style="text-align: right;"><label for="contact_email">Your&nbsp;Email:</label></td>
	<td>
		<%= text_field "contact", "from_email", :size => "50",
		:style => current_user.email.blank? ? "color:lightgray" : "color:black",
		:value => current_user.email.blank? ? "feedback@heystack.com" : current_user.email,
		:onfocus => "this.style.color = 'black'" %></td>
  </tr>
  <tr>
	<td class="top_right"><label for="comment_body">Comment:</label></td>
	<td><%= text_area "contact", "comment", :style => "height:20px; width:100%;", :onfocus => "this.style.height = '100px';" %>
	</td>
  </tr>
  <tr>
	<td></td>
	<td class="text-1_25"><input type="submit" value="Send Comment" class="form_button round2px" onmouseover="this.style.background='#2070d5';" onmouseout="this.style.background = '#0088ce';" /></td>
  </tr>
</table>

<% end -%>

</div>