<meta property="og:url"         content="http://stkup.com/stacks/<%= @stack.id %>" /> 
<meta property="og:title"       content="<%= @stack.name %>" /> 
<meta property="og:description" content="<%= @stack.question %>" /> 
<div class="fb-like" data-href="http://samples.ogp.me/370585046290805" data-send="true" data-layout="button_count" data-width="150" data-show-faces="true" data-font="lucida grande"></div>
