<% if session[:community] %>
	<% @community = Community.find_by_id(session[:community]) %>
	<% @logo = @community.logo %>
<% else %>
	<% @logo = "heystack_logo.gif" %>
<% end %>
<div class="header">
<table>
  <tr>
	<td class="header_logo">
	  <%= link_to image_tag(@logo, :alt => "Heystack | Local Comparisons"), root_path %>
	  <!-- <div class="logo_div">
	  <div class="logo_heystack"><%= link_to "heystack", root_path, :class => "logo_link" %></div>
	  <div class="logo_community"><%= link_to @community.name, root_path, :class => "logo_community_link" %></div>
	  </div> -->
	</td>
	<td class="header_tagline">
	  <!-- Purposeful Comparisons -->
	</td>
	<td class="header_nav">
	  <%= render 'shared/nav' %>
	</td>
  </tr>
</table>
</div>

