<nav class="nav">
<span class="header_preview">Preview Version</span>
<ul>
  <li><%= link_to "About", "#about", :class => "nav_link", :rel => "facebox" %></li>
  <li><%= link_to "Stacks", "#stacks", :class => "nav_link", :rel => "facebox" %></li>
  <li><%= link_to "Comments", "#comments", :class => "nav_link", :rel => "facebox" %></li>
  <li><%= link_to "Blog", "http://lokalgood.com", :class => "nav_link", :target => "_blank" %></li>
</ul>
</nav>
