<div class="stk_section_header">View Other Stacks</div>
<div class="view_stacks">
<% if Stack.count > 1 %>
<ul class="stack_list">
<%= render community_stacks(session[:community]), :omit_stack => @stack, :stack_detail => false %>
<%= image_tag "favicon.gif", :height => "11", :style => "opacity:0.9;" %>&nbsp;<span style="font-size:110%;"><%= link_to "Create Your Own Stack", create_stack_path %></span>
</ul>
<% end %>

<% if current_user.admin? %>
<div style="width:100%; text-align:right;"><%= link_to "+", new_stack_path, :class => "subtle_link" %></div>
<% end %>
</div>