<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p>
Thanks for creating a new stack question.  We've got your submission in our hot little hands and will shoot you confirmation and sharing tips shortly. Meantime, if you have comments on the submission process, we're all ears.  Just reply to this email.  
</p>
<p>
Here's what you sent us...<br/>

<%= @request[:stem] %><br/>
<%=raw @request[:message].gsub("\n\r","<br />").gsub("\r", "").gsub("\n", "<br />") %><br/>
</p>
<p>
Yours in info sharing,
</p>
<p>
Steve and Robert - Founders and Fellow Life Jugglers
</p>
</body>
</html>