<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p>
Your stack request is in.  Expect confirmation and sharing tips shortly.  Comments on the submission process?  Just reply and tell us.
</p>
<p>
Your Stack Request:<br/>

<%= @request[:stem] %><br/>
<%=raw @request[:message].gsub("\n\r","<br />").gsub("\r", "").gsub("\n", "<br />") %><br/>
</p>
<p>
Thanks,<br/>
Steve and Robert
</p>
</body>
</html>