<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
You're in.  Thanks for signing up for the Weekly Stackmail.  And welcome to heystack.  As a user you're helping surface and share valuable info in the community - an activity that should be easy, helpful, purposeful, nay even fun.  
</p>
<p>
Making that so is a shared journey so we'd love to hear your unvarnished feedback. Replies to this email or comments through the site aren't just welcome, we consider them precious metal for fashioning something crazy useful.  Fire away.
</p>
<p>
Your fellow useful info seekers with limited time but plenty of questions, 
</p>
<p>
- Steve and Robert
</p>
</body>
</html>