<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
Thanks for signing up for the Weekly Stackmail. And welcome to heystack. By giving it a try you're helping to surface and share valuable info in the community that can help with the blizzard of decisions we all manage these days.
</p>
<p>
At heystack we're working to make that info gather easy, helpful, purposeful - nay even a little fun.  And we love feedback.  So please fire away when the muse is with you.  Replies to this email or comments through heystack.com aren't just welcome, we consider them precious metal for fashioning something crazy useful.
</p>
<p>
Happy hunting,
</p>
<p>
- Steve and Robert, Founders and Fellow Life Jugglers
</p>
</body>
</html>