<div class="padding_30px">
<div class="stk_section_header"><%= @title %></div>

<%= form_for(@community) do |f| %>
  <%= render 'community_form', :f => f %><br/>
  <div class="actions">
    <%= f.submit "Update Community" %>
  </div>
<% end %>

</div>