<div class="chart_footer">
<%= pluralize(@count < 10 ? "a few" : @count, "response") %> · most recent <%= time_ago_in_words(@stack.responses.last.updated_at) %> ago · <%= link_to "refine&nbsp;my&nbsp;answer".html_safe, edit_response_path(@response) %>
</div>
