<div class="chart_footer">
<% if @count < 10 %>
  <span id="response_count"
	title="To maintain the cloak of anonymity for our early answering community members, number of responses starts showing after a few more answers are in"
	onmouseover="this.style.color='#0088ce';" onmouseout="this.style.color='black';"
	style="border-bottom:dashed;border-bottom-width:1px;">a few responses</span>
<% else %>
  <%= pluralize(@count, "response") %>
<% end %>
• most recent <%= @stack.responses.last.updated_at < 30.days.ago ? "awhile" : time_ago_in_words(@stack.responses.last.updated_at) %> ago • <%= link_to "refine&nbsp;my&nbsp;answer".html_safe, edit_response_path(@response) %>
</div>
