<div class="chart_footer">
<% if @count < 10 %>
  <span id="response_count"
	title="To maintain the cloak of anonymity for our early answering neighbors, number of responses starts showing after 10 answers are in"
	onmouseover="this.style.color='#0088ce';" onmouseout="this.style.color='black';"
	style="border-bottom:dashed;border-bottom-width:1px;">a few responses</span>
<% else %>
  <%= pluralize(@count, "response") %>
<% end %>
• most recent <%= time_ago_in_words(@stack.responses.last.updated_at) %> ago • <%= link_to "refine&nbsp;my&nbsp;answer".html_safe, edit_response_path(@response) %>
</div>
