<div class="comparison-1" style="margin-left:auto;margin-right:auto;">
<%= link_to (raw @comparison_text), "#interesting_fact", :rel => "facebox" %> (<%= link_to "refine&nbsp;my&nbsp;answer", edit_response_path(session[:response_id]) %>)
</div>

<div id="interesting_fact" style="display:none;"><br/><%=raw @diff_text %></div>
