<div class="create_button">
<%= link_to image_tag("createstack.png", :name => "create"), create_stack_path %>
</div>

<div id="create_a_stack" style="display:none;"><%= render 'layouts/feedback' %></div>
