<div class="stk_section_header">Suggest a Stack</div>

<%= form_tag "/stack_request" do -%>
<%= text_area "request", "message",
	:class => "stack_request",
	:style => "color:lightgray",
	:value => "List topics you'd like to see comparisons on (how much..., how many..., at what age...)",
	:onfocus => "if (this.value.substring(0, 11) == 'List topics') {this.value='';this.style.color = 'black'}; unhide('submit_div')" %>
Your email: <%= text_field "request", "from_email", :size => "20", :style => "color:lightgray",
		:value => 'you@example.com',
		:onfocus => "this.style.color = 'black'; if (this.value == 'feedback@stkup.com') {this.value='';}; unhide('submit_div')" %>

<br/>
<div><%= check_box "request", "opt_in", :onclick => "unhide('submit_div')" %> Keep me posted on new stack info</div>
<div id="submit_div" class="hidden"><input type="submit" value="Send Suggestion" class="form_button round" /></div>
<% end -%>
</div>
