<div class="share_button">
<!-- <%= link_to image_tag("share.png", :name => "share"), share_path %> -->
<%= link_to image_tag("share.gif", :name => "share"), "#share_form", :rel => "facebox" %>
<!-- <%= render 'layouts/tip_progress'  %> -->
</div>

<div id="share_form" style="display:none;"><%= render 'mvp/share_form' %></div>
