<%= link_to image_tag("share.png", :name => "share"), "#share_form", :rel => "facebox" %>
<%= render 'layouts/tip_progress'  %>

<div id="share_form" style="display:none;"><%= render 'mvp/email_preview' %></div>
