<% if current_user.email.blank? %>
<div class="signup_form">
<%= form_for @user do |u| %>
<%= u.text_field :email, :value => "Your Email Address", :class => "signup_text round", :onfocus => "this.style.color = 'black'; this.style.borderColor = 'black'; if (this.value == 'Your Email Address') {this.value='';}; unhide('submit_div')" %>
<%= image_submit_tag("signup.png", :name => "signup") %>
<% end %>
</div>
<% end %>
