<div class="stk_buttons">
<ul>
  <li style="list-style-type: none; display: inline-block; padding: 0.2em 10px;">
	<%=raw link_to '<img alt="Yes! I want to answer." src="http://stkupmvpv2.herokuapp.com/assets/email_submit.png">'.html_safe,
		(@base_url + "?email=" + @email + "&response[value]=").html_safe %></li>
</ul>
</div>
<br/>
